<div class="container-fluid">
    <app-pagetitle  [breadcrumbItems]="breadCrumbItems" style="display: none;"></app-pagetitle>
    <div style="text-align: left;">
        <a routerLink="/">
    
              <i class="fas fa-home" style="font-size: x-large;color: #a40b17;"></i>     
        </a>        
    
     </div>
    <h4 class="text-center">সাপ্লাইয়ার তৈরি করুন</h4>
   

    <div class="row">
    
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">       

                    <form (ngSubmit)="onSubmit()" [formGroup]="typeValidationForm" #formGroupRef="ngForm">




                        <div class="form-group">
                            <label>তারিখঃ </label>
                            <div class="input-group clockpicker">
                                <input ngbDatepicker class="form-control" placeholder="yyyy-mm-dd" #d="ngbDatepicker"
                                [ngClass]="{ 'is-invalid': submitted && f.date.errors }"
                                    formControlName="date" [(ngModel)]="dates" name="date">
                                <div class="input-group-append" (click)="d.toggle()">
                                    <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                                </div>
                                <div *ngIf="submitted && f.date.errors" class="invalid-feedback">
                                    তারিখ লিখুন
                                </div>
                            </div>


                        </div>


                        <div class="form-group">
                            <label>সাপ্লাইয়ারর নামঃ</label>
                            <input type="text" class="form-control" formControlName="supplierName"
                                [ngClass]="{ 'is-invalid': submitted && f.supplierName.errors }" name="supplierName"
                                placeholder="সাপ্লাইয়ারর নাম লিখুন" id="supplierName" [(ngModel)]="supplierName" />

                            <div *ngIf="submitted && f.supplierName.errors" class="invalid-feedback">
                                <div *ngIf="f.supplierName.errors.required">সাপ্লাইয়ারর নাম লিখুন</div>
                              </div>

                        </div>

                        <div class="form-group">
                            <label>পূর্বের বাকি টাকা</label>
                            <input type="text" class="form-control" formControlName="hisabStartAmount"
                                [ngClass]="{ 'is-invalid': submitted && f.hisabStartAmount.errors }"
                                placeholder="পূর্বের বাকি টাকা লিখুন" id="hisabStartAmount" [(ngModel)]="hisabStartAmount" />
                            <div *ngIf="submitted && f.hisabStartAmount.errors" class="invalid-feedback">
                                <div *ngIf="f.hisabStartAmount.errors.required">পূর্বের বাকি টাকা লিখুন</div>
                            </div>
                        </div>

                        
                        <div class="form-group auth-form-group">
                            <label for="mobileNumber">মোবাইল নাম্বারঃ</label>
                            <input type="text" (keypress)="numberOnly($event)" class="form-control" formControlName="mobileNumber"
                                [ngClass]="{ 'is-invalid': submitted && f.mobileNumber.errors }"
                                placeholder="মোবাইল নাম্বার লিখুন" id="mobileNumber" [(ngModel)]="mobileNumber" />
                            <div *ngIf="submitted && f.mobileNumber.errors" class="invalid-feedback">
                                <div *ngIf="f.mobileNumber.errors.required">মোবাইল নাম্বার লিখুন</div>
                            </div>
                        </div>


                                 
                        <div class="form-group">
                            <label>ঠিকানাঃ</label>
                            <input type="text" class="form-control" formControlName="address"
                                [ngClass]="{ 'is-invalid': submitted && f.address.errors }"
                                placeholder="ঠিকানা লিখুন" id="address" [(ngModel)]="address" />
                            <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                                <div *ngIf="f.address.errors.required">ঠিকানা লিখুন</div>
                            </div>
                        </div> 

                   




                        <div class="form-group mb-0">
                            <div class="text-center">
                               
                                <button type="submit" class="btn btn-primary mr-1" style="background-color: #a40b17;" (click)="onSubmit()">
                                    {{btnName}}
                                </button>
                                
                            </div>
                        </div>
                    </form>
                </div>
            </div>
     
        </div>

    </div>

<!-- Modal -->


</div>