table {
    width: 100%;
  }

.w-th{
  min-width: 120px;
  width:  180px;
  text-align: left;
  font-size: 16px;
  color: black;
  background-color: blanchedalmond;

}

.w-td{
  min-width: 120px;
  width:  180px;
  text-align: left;
}
