<div class="container">
  <div  style="text-align: center;display: none;">
    
    
      <button class="btn btn-success" (click)="goToUrl()">ভিডিও টিউটোরিয়াল</button>

  

</div>
<br>
  <div class="row" style="text-align: center;">
  
      <div class="col" style="text-align: center;width: 60%;">
       
          <a routerLink="./buySellManagement/sellerEntry">
              <img src="assets/images/dashboard/1.png" class="img-fluid img-thumbnail" alt="" style="text-align: center;width: 60%;">
              <p>বিক্রয়</p>
            </a>
      </div>
      <div class="col" style="text-align: center;width: 60%;">
        <a routerLink="./buySellManagement/buyerDueCollection">
              <img src="assets/images/dashboard/2.png"class="img-fluid img-thumbnail"  alt="" style="text-align: center;width: 60%;">
              <p>বাকি গ্রহণ </p>
            </a>
      </div>

      <div class="col">
          
        <a routerLink="./buySellManagement/BuyerRawInfo">
              <img src="assets/images/dashboard/9.png" class="img-fluid img-thumbnail" alt="" style="text-align: center;width: 60%;">
              <p>বাকি বিক্রয়ের খাতা </p>
            </a>
      </div>
  </div>

  <br/>

  <div class="row" style="text-align: center;">
      <div class="col" >
       
        <a routerLink="./buySellManagement/sellerEntryList">
              <img src="assets/images/dashboard/4.png" class="img-fluid img-thumbnail" alt="" style="text-align: center;width: 60%;">
              <p>সকল বিক্রয় তথ্য</p>
            </a>
      </div>
      <div class="col">
        <a routerLink="./buyer/buyer">
              <img src="assets/images/dashboard/5.png"class="img-fluid img-thumbnail"  alt="" style="text-align: center;width: 60%;">
              <p>ক্রেতা  </p>
            </a>
      </div>
      <div class="col">
          
        <a routerLink="./buyer/buyerList">
              <img src="assets/images/dashboard/6.png" class="img-fluid img-thumbnail" alt="" style="text-align: center;width: 60%;">
              <p>সকল ক্রেতা তথ্য</p>
            </a>
      </div>
  </div>

  <br/>

  <div class="row" style="text-align: center;">
      <div class="col" >
       
        <a routerLink="./buySellManagement/buyerEntry">
              <img src="assets/images/dashboard/7.png" class="img-fluid img-thumbnail" alt="" style="text-align: center;width: 60%;">
              <p>ক্রয়</p>
            </a>
      </div>
      <div class="col">
        <a routerLink="./buySellManagement/supplierDuePayment">
              <img src="assets/images/dashboard/8.png"class="img-fluid img-thumbnail"  alt="" style="text-align: center;width: 60%;">
              <p>বাকি টাকা প্রদান  </p>
            </a>
      </div>


      <div class="col">
          
        <a routerLink="./buySellManagement/SupplierRawInfo">
              <img src="assets/images/dashboard/3.png" class="img-fluid img-thumbnail" alt="" style="text-align: center;width: 60%;">
              <p>বাকি ক্রয়ের খাতা</p>
            </a>
      </div>
  </div>


  <br/>

  <div class="row" style="text-align: center;">
      <div class="col" >
       
        <a routerLink="./buySellManagement/buyerEntryList">
              <img src="assets/images/dashboard/10.png" class="img-fluid img-thumbnail" alt="" style="text-align: center;width: 60%;">
              <p>সকল ক্রয় তথ্য </p>
            </a>
      </div>
      <div class="col">
        <a routerLink="./supplier/supplier">
              <img src="assets/images/dashboard/11.png"class="img-fluid img-thumbnail"  alt="" style="text-align: center;width: 60%;">
              <p>সাপ্লাইয়ার</p>
            </a>
      </div>
      <div class="col" style="display: block;">
          
        <a routerLink="./cost-management/WorkerList">
              <img src="assets/images/dashboard/12.png" class="img-fluid img-thumbnail" alt="" style="text-align: center;width: 60%;">
              <p>কর্মচারী </p>
            </a>
      </div>
  </div>

  <br/>

  <div class="row" style="text-align: center;">
      <div class="col" >
       
        <a routerLink="#">
              <img src="assets/images/dashboard/13.png" class="img-fluid img-thumbnail" alt="" style="text-align: center;width: 60%;">
              <p>খরচ </p>
            </a>
      </div>
      <div class="col">
        <a routerLink="#">
              <img src="assets/images/dashboard/14.png"class="img-fluid img-thumbnail"  alt="" style="text-align: center;width: 60%;">
              <p>রিপোর্ট</p>
            </a>
      </div>
      <div class="col">
          
        <a routerLink="#">
              <img src="assets/images/dashboard/15.png" class="img-fluid img-thumbnail" alt="" style="text-align: center;width: 60%;">
              <p>দৈনিক লেনদেন  </p>
            </a>
      </div>
  </div>

</div>


